# Local/private config goes in the include
[include]
    path = ~/.config/git/credentials

[core]
    editor = nano
    excludesfile = ~/.gitignore
    pager = delta

# From there, sections are in alphabetic order

[alias]
    st = status
    co = checkout
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[help]
    autocorrect = 1
[init]
    templateDir = ~/.config/git/templates
[interactive]
    diffFilter = delta --color-only --features=interactive
[pull]
    rebase = false
